# compiled python files
*.pyc

# coverage file
.coverage

# virtualenv directory
environment/

.pytest_cache/
node_modules/
DELETEME

# embedded data store
data/*.db
tests/*.db

# editor files
.vscode
.idea

.DS_Store
