$def with (books)
<script async src="/assets/js/admin.js"></script>

<h1>Admin Settings:</h1>

<div style="border:1px solid black;">
  <form id="settings_form" method="POST" onsubmit="return sorter.updateSettings(this);">
    API Key: <input type="text" name="api_key" placeholder="enter API KEY" value="" /><br />
    User Id: <input type="text" name="user_id" placeholder="enter USER ID" value="" /><br />
    Results per request: <input type="text" name="per_page" placeholder="enter per page value" value="40" disabled="disabled" />
    <fieldset>
      <legend id="shelf_list">Included Shelves:</legend>
      
    </fieldset>
    <button id="update">Update Settings</button>
  </form>
</div>

<div> 
  <form method="POST" onsubmit="return false">
    <button id="import">Import Books</button>
  </form>
</div>

<div> 
    <form id="shelf_form" method="POST" onsubmit="return false">
      <input type="hidden" name="api_key" placeholder="enter API KEY" value="" />
      <button id="get_shelves">Get Shelves</button>
    </form>
</div>

<br />
<form method="POST" name="update" action="/admin/advanced">
$if books:
    <input type="submit" name="submit" />  
    <table>
        <thead>
            <tr>
                <th>Book ID</th>
                <th id="2">ISBN</th>
                <th id="3">ISBN13</th>
                <th id="4">Title</th>
                <th id="5">Image Url</th>
                <th id="6">Publication Year</th>
                <th id="7">Ratings Count</th>
                <th id="8">Average Rating</th>
                <th id="9">Author</th>
                <th id="10">Link</th>
                <th id="11">Preference Adjustment</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        $ row = 1
        $ col = 1
        $for book in books:    
            <tr>
                $for el in book:
                    $if col == 1:
                        $ book = el
                    <td><div data-book="$book" data-attr="$col">$el</div></td>
                    $ col += 1
            </tr>
            $ row += 1
            $ col = 1
        </tbody>
    </table>
    <input type="submit" name="submit" />    
</form>

<script type="text/javascript">
  (function(){
    let counter = 0;
    let interval = setInterval(() => {
      counter = counter+1;
      if ((sorter && typeof sorter.init == 'function') || counter > 5) { 
        clear();
        try {
          let myForm = document.getElementById("settings_form") || {};
          sorter.init(myForm);
          //<input type="checkbox" disabled="disabled" name="to-read" checked="checked" />To-Read
          let shelfList = (localStorage.getItem('shelf_list') || 'to-read').split(',');
          let shelfParent = document.getElementById('shelf_list').parentNode
          let el, label;
          for (let i in shelfList) {
            el = document.createElement('input');
            el.type = "checkbox";
            el.name = shelfList[i];
            el.innerText = shelfList[i];
            el.id = shelfList[i]
            shelfParent.appendChild(el);

            label = document.createElement('label')
            label.htmlFor = shelfList[i];
            label.appendChild(document.createTextNode(shelfList[i]));
            shelfParent.appendChild(label);
          }

          let shelForm = document.getElementById("shelf_form") || {};
          sorter.init(shelForm);
        } catch(err){
          console.log(err);
        }
      }
    }, 500);
  
    let clear = () => {
      clearInterval(interval);
    };
  
    document.getElementById('get_shelves').addEventListener("click", function(ev) {
      sorter.getShelves(document.getElementById('shelf_form'))
        .then(res => {
          localStorage.setItem("shelf_list", res);
          return false;
        }).catch(error => {
          console.log(error)
          return false;
        });
    });

    document.getElementById('import').addEventListener("click", function(ev) {
      sorter.importBooks(document.getElementById('settings_form'))
        .then(_ => {
          return false;
        }).catch(error => {
          console.log(error)
          return false;
        });
    });

    let inputs = document.getElementsByTagName('td')
    for (i in inputs) {
      if (inputs.hasOwnProperty(i) && inputs[i].firstChild.dataset.attr > 1) {
        let el = inputs[i];
        let clickHandler =  function(ev) {
          sorter.toggleEditable(this.firstChild);
          el.removeEventListener('click', clickHandler, false);
        }
        el.addEventListener("click", clickHandler);
      }
    }
  })();
  </script>
