$def with (books, pages)
$if books:
    <div class="table-responsive">
        <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Book ID</th>
                <th>ISBN</th>
                <th>ISBN13</th>
                <th>Pub year</th>
                <th>Total Ratings</th>
                <th>Avg Rating</th>
                <th>Author</th>
                <th>Preference Adjust</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        $ row = 1
        $ page = 1
        $for book in books:    
            <tr class="page page$page">
                <td>
                    <div class="book-title"><a href="$book[9]">$book[3]</a></div>
                </td>
                <td>$book[0]</td>
                <td>$book[1]</td>
                <td>$book[2]</td>
                <td>$book[5]</td>
                <td>$book[6]</td>
                <td>$book[7]</td>
                <td>$book[8]</td>
                <td>$book[10]</td>
                <td>$book[11]</td>
            </tr>
            $if row == 10: 
                $ row = 1
                $ page += 1
            $else: 
                $ row += 1
        </tbody>
        </table>
    </div>
$else:
    Greetings Programs
